.drivers-body-container {
  background-color: var(--main-light-color);
  margin: var(--navbar-height) auto 0 auto;
  padding-top: 2rem;
}
.driver-info-container {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3rem;
}
.driver-image {
  max-width: 48%;
}
.driver-image-wrapper {
  max-height: 500px;
  overflow: hidden;
}
.driver-image-wrapper > img {
  max-width: 100%;
}
.driver-number {
  font-size: 2.5rem;
  color: gray;
  margin: 1rem 0;
}
.driver-name {
  font-family: 'F1 Bold', sans-serif;
  font-size: 2.2rem;
}
.driver-image > div:last-of-type {
  padding: 0 0 1rem 2rem;
}
.driver-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 48%;
  width: 48%;
  padding: 1rem 2rem 0 0;
}
.driver-info-parameter {
  margin: .5rem 0;
}
.driver-info-parameter p {
  font-size: 1.2rem;
}
.driver-info-parameter > p:first-of-type {
  font-weight: bold;
}
.driver-info-parameter > p:last-of-type {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.driver-info > div {
  display: flex;
  justify-content: space-between;
}
.driver-bio {
  background-color: white;
  padding: 2rem;
}
.driver-bio h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
.driver-bio p {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: .9rem;
  margin: .8rem 0;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .driver-info-container {
    flex-direction: column;
  }
  .driver-image {
    max-width: 100%;
  }
  .driver-info {
    max-width: 100%;
    width: 100%;
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 568px) {
  .driver-bio {
    padding: 2rem 0;
  }
  .driver-image > div:last-of-type {
    padding: 0;
  }
  .driver-number {
    font-size: 2.2rem;
  }
  .driver-name {
    font-size: 1.8rem;
  }
  .driver-info {
    padding: 0;
    margin-top: .7rem;
  }
  .driver-info-parameter p {
    font-size: 1rem;
  }
}