body {
  background-color: #f7f4f1;
}
h3 {
  text-transform: uppercase;
}
.results-header {
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'F1 Bold', sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.header-country {
  font-size: 3.2rem;
}
.header-dates {
  background-color: #15151e;
  font-family: 'F1 Regular', Tahoma, sans-serif;
  font-size: 1rem;
  padding: 6px 10px;
  border-radius: 25px;
  width: fit-content;
  margin: 0 auto;
}
/* make bg-image darker */
.results-header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  mix-blend-mode: multiply;
}

.results-header-title {
  filter: brightness(1);
}
/* ---------- Podium ------------- */
.podium-winner {
  display: grid;
  grid-template-columns: .8fr 5fr 1fr;
  gap: .5rem;
  padding: 10px;
  border-radius: 6px;
  background-color: white;
  margin: 2px 0;
}
.podium-winner > strong {
  text-align: center;
}
.podium-winner > p:last-child {
  background-color: #ededed;
  color: #15151e;
  font-family: Tahoma, sans-serif;
  font-size: .8rem;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
h1 {
  font-family: 'F1 Bold', sans-serif;
  font-size: 2rem;
}
h3 {
  font-weight: 500;
}

.container > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0;
}
.results-container {
  border: 10px solid var(--highlight-color);
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 2rem;
  width: 70%;
}
.results-table {
  font-family: Tahoma, sans-serif;
  border-collapse: collapse;
  font-size: .9rem;
  transition: height 0.3s ease-out;
  display: none;
  margin: 2rem auto;
  background-color: white;
}
.results-table th {
  padding: .4rem;
  text-transform: uppercase;
}
.results-table > tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
}
.results-table td {
  padding: .6rem 1rem;
}
.results-table.show {
  height: auto;
  display: table;
}
.results-table.hide {
  height: 0;
  overflow: hidden;
}

/* -------------- Results Tabs --------------- */
.single-stage-container {
  background-color: white;
  border-radius: 7px;
  margin: 3px 0;
}
.results-tab {
  display: grid;
  grid-template-columns: .6fr 5fr .8fr;
  padding: .7rem 1rem;
  border-radius: 10px;
}
.results-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-right: 2px dotted gray;
}
.results-date > div {
  color: #67676d;
  background-color: #ededed;
  padding: .2rem .4rem;
  margin-top: .2rem;
  border-radius: 10px;
  font-size: .8rem;
  text-transform: uppercase;
}
.stage-name {
  padding-left: .7rem;
  font-family: 'F1 Bold', sans-serif;
  font-size: 1.2rem;
}
.results-btn {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: .9rem;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid #67676d;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.results-btn:hover {
  cursor: pointer;
  border: 2px solid var(--highlight-color);
}

/* -------------- Circuit Image ---------- */
.circuit-image-wrapper {
  max-width: 25%;
  border: 1px solid #67676d;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circuit-image-wrapper > p {
  align-self: flex-start;
  font-size: 1rem;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
.circuit-image-wrapper > img {
  max-width: 100%;
}
.container .details-info {
  margin: 2rem 0;
  display: block;
}
.details-info > p {
  margin: 1rem 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

@media screen and (max-width: 1368px) {
  .container {
    max-width: 1200px;
  }
  .container > div {
    flex-direction: column;
  }
  .results-container {
    width: 100%;
    margin-bottom: 2rem;
  }
  .circuit-image-wrapper {
    max-width: 60%;
  }
  .circuit-image-wrapper > img {
    max-width: 70%;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 968px;
  }
}
@media screen and (max-width: 968px) {
  .container {
    max-width: 768px;
  }
  .results-tab {
    grid-template-columns: .8fr 4fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .results-header {
    height: 370px;
  }
  .container {
    max-width: 576px;
  }
  .circuit-image-wrapper {
    max-width: 100%;
  }
  .results-tab {
    grid-template-columns: .8fr 3fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .results-header {
    height: 215px;
  }
  .container {
    max-width: 95vw;
  }
}