body {
  background-color: #f9f9f9;
}
.team-container {
  max-width: 1400px;
  margin: 0 auto;
}
.team-info-container {
  background-color: white;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.team-info {
  display: flex;
  justify-content: space-between;
  max-width: 48%;
  padding: 1rem 2rem 0 0;
}
.team-info > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.team-info p {
  margin: .5rem 0;
  font-size: 1rem;
}
.team-info > div:first-of-type {
  font-weight: 700;
  margin-right: 2rem;
}
.team-info > div:last-of-type {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.team-drivers-links-div {
  display: flex;
  max-width: 48%;
  transition: transform .2s;
}
.single-driver-div {
  max-width: 50%;
  border-left: 2px solid #e2e2e2;
}
.single-driver-avatar-wrapper {
  max-width: 100%;
  height: 440px;
  overflow: hidden;
}
.single-driver-avatar-wrapper > img {
  max-width: 100%;
  transform: scale(1.7);
  margin-top: 5rem;
  transition: transform .2s;
}
.single-driver-name {
  padding: 2rem 3rem;
}
.single-driver-name > p:first-of-type {
  font-family: 'F1 Bold', sans-serif;
  font-size: 2rem;
  margin-bottom: .4rem;
}
.single-driver-name > p:last-of-type {
  font-size: 1.1rem;
}
.single-driver-name > span:last-child {
  font-size: .7rem;
  text-transform: uppercase;
  color: gray;
}
.single-driver-div:hover {
  cursor: pointer;
}
.single-driver-div:hover .single-driver-avatar-wrapper > img {
  transform: scale(1.77);
}
.single-driver-div:hover .single-driver-name {
  background-color: black;
  color: white;
}

@media screen and (max-width: 1368px) {
  .team-container {
    max-width: 968px;
  }
}
@media screen and (max-width: 1024px) {
  .team-container {
    max-width: 768px;
    padding: 0 .8rem;
  }
  .team-info-container {
    flex-direction: column;
    padding: 0;
  }
  .team-info {
    max-width: 100%;
    padding: 1rem;
  }
  .team-drivers-links-div {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .team-container {
    max-width: 568px;
  }
}
@media screen and (max-width: 568px) {
  .team-container {
    max-width: 100%;
  }
  .team-drivers-links-div {
    flex-direction: column;
  }
  .single-driver-div {
    max-width: 100%;
  }
}