.footer {
  background-color: var(--main-dark-color);
  padding: 3rem 0 1.5rem 0;
}
.footer-container {
  width: 1320px;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 2rem 2rem 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* BORDER */
.footer-container::before {
  content: '';
  position: absolute;
  left: 0;
  right: -2px;
  top: -8px;
  bottom: 0;
  border-bottom: 10px solid;
  border-right: 10px solid;
  border-color: #38383f;
  border-bottom-right-radius: 40px;
  /* allow interacting with links*/
  pointer-events: none;
}
.footer-column {
  display: flex;
  flex-direction: column;
}
.footer-column * {
  color: white;
  font-size: .8rem;
  margin: .5rem 0;
}
.footer h3 {
  margin-bottom: .8rem;
  font-size: .9rem;
}
.footer-column a:hover {
  color: hsl(240, 6%, 53%);
  transition: .2s;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-contact * {
  color: white;
  font-size: .8rem;
}
.contact-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-links svg {
  width: 20px;
  height: auto;
}
.contact-links a {
  padding: 0 .4rem;
}
.contact-links a:hover svg {
  fill: hsl(240, 6%, 53%);
  transition: .2s;
}
.footer-disclaimer {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: .8rem;
  color: white;
  margin-top: 2rem;
}

@media screen and (max-width: 1360px) {
  .footer-container {
    max-width: 968px;
  }
}
@media screen and (max-width: 1024px) {
  .footer-container {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 3rem .5rem 1.5rem .5rem;
  }
  .footer-container {
    max-width: 568px;
  }
}
@media screen and (max-width: 568px) {
  .footer-container {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .8rem 0;
  }
}