.navbar {
  height: auto;
  width: 100%;
  background-color: var(--highlight-color);
  padding: 1rem;
  position: fixed;
  height: 70px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.navbar-logo-wrapper {
  width: 120px;
  /* flex: .6; */
}
.navbar-logo-wrapper > img {
  max-width: 100%;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex: 1;
}
.navbar a {
  color: white;
  font-family: 'F1 Regular', sans-serif;
}