body {
  --navbar-height: 70px;
}
.navbar,
.navbar-sm {
  width: 100%;
  background-color: var(--highlight-color);
  padding: 0 1rem;
  position: fixed;
  height: var(--navbar-height);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  z-index: 100;
}
.navbar-sm {
  display: none;
  width: 100%;
  background-color: var(--highlight-color);
  padding: 0 1rem;
  position: fixed;
  min-height: var(--navbar-height);
  height: auto;
  top: 0;
  justify-content: space-between;
  align-items: stretch;
  z-index: 100;
}
.navbar-logo-wrapper {
  width: 120px;
  height: 100%;
  display: flex;
}
.navbar-logo-wrapper > img {
  max-width: 100%;
}
.navbar-links-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  list-style: none;
}
.navbar-links-container li  {
  transition: .2s ease-out;
}
.navbar-links-container li:hover {
  background-color: var(--main-dark-color);
}
.navbar-links-container a {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar a {
  color: white;
  font-family: 'F1 Regular', sans-serif;
}
.navbar-links-container svg {
  margin: 5px 0 0 5px;
  font-size: .7rem;
}

/* ======= Navbar Overlay ======== */
.navbar-sublinks {
  background-color: var(--main-dark-color);
  width: 100%;
  position: fixed;
  top: var(--navbar-height);
  z-index: 100;
  padding: 2rem 5rem;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  border-bottom: 1px solid var(--highlight-color);
}
.show-sublinks {
  display: grid;
}
.sublink {
  color: white;
  font-size: .9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: fit-content;
  padding: 0 .7rem .7rem 0;
}
.navbar-sublinks > a:first-of-type {
  grid-column: 1/5;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.driver-sublink:first-of-type svg {
  color: var(--highlight-color)
}
.sublink svg {
  color: white;
}

.sublink > p {
  padding-left: .5rem;
}
.sublink span {
  font-weight: bold;
  text-transform: uppercase;
}
/* BORDER */
.sublink::before {
  content: '';
  position: absolute;
  left: 0;
  right: -2px;
  top: -8px;
  bottom: 0;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: gray;
  border-bottom-right-radius: 10px;
  transition: .2s;
  z-index: -1;
}
.sublink:hover::before {
  border-color: currentColor;
}

.text-white {
  color: white;
}
.team-sublink {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 .7rem 0 0;
}
.sublink-img-wrapper {
  max-width: 100%;
  position: relative;
}
.sublink-img-wrapper > img {
  max-width: 80%;
  position: inherit;
  z-index: 2;
}
.sublink-img-wrapper::before {
  content: '';
  position: absolute;
  top: 38%;
  height: 20px;
  width: 30px;
  background-color: currentColor;
  z-index: 1;
}
.team-sublink-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.all-team-sublinks {
  grid-column: 1/5;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.all-teams-sublinks svg {
  color: var(--highlight-color);
}

/* ======== Small Screen Dropdown Menu =========== */
.nav-sm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: var(--navbar-height);
}
.toggle-btn {
  background-color: transparent;
  color: white;
  font-size: 1.3rem;
  border: 0;
  transform: rotate(0deg);
  transition: transform .2s ease-out;
}
.toggle-btn--rotate {
  transform: rotate(90deg);
}
.dropdown-menu {
  /* background-color: var(--highlight-color); */
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: height .4s;
}
.navbar-sm > .show-dropdown-menu {
  height: auto;
  transition: height .4s;
}
.navbar-sm > .hide-dropdown-menu {
  height: 0;
  transition: height .4s;
}
.dropdown-menu-list {
  list-style: none;
  padding: 0 .3rem;
}
.dropdown-menu-list a {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: .6rem .2rem;
}
.dropdown-menu-list li {
  position: relative;
  margin: .8rem 0;
  padding-right: .5rem;

  opacity: 0;
  transition: opacity .1s ease-in-out;
}
.dropdown-menu-list li::before {
  content: '';
  position: absolute;
  left: 0;
  right: -2px;
  top: -8px;
  bottom: 0;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: #f08380;
  border-bottom-right-radius: 10px;
  transition: .2s;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .navbar {
    display: none;
  }
  .navbar-sm {
    display: block;
  }
  .navbar-sublinks {
    display: none;
    z-index: 0;
  }
  .show-sublinks {
    display: none;
    opacity: 0;
  }
}