@font-face {
  font-family: 'F1 Regular';
  src: url(../public/fonts/Formula1-Regular_web_0.ttf);
}
@font-face {
  font-family: 'F1 Bold';
  src: url(../public/fonts/Formula1-Bold_web_0.ttf);
}
@font-face {
  font-family: 'F1 Wide';
  src: url(../public/fonts/Formula1-Wide_web_0.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --highlight-color: #e10600;
  --main-dark-color: #15151e;
  --main-light-color: #f9f9f9;

  --red_bull_color: #3671C6;
  --ferrari_color: #F91536;
  --mercedes_color: #6CD3BF;
  --aston_martin_color: #358C75;
  --mclaren_color: #F58020;
  --alpine_color: #2293D1;
  --haas_color: #B6BABD;
  --alfa_romeo_color: #C92D4B;
  --alfa_color: #C92D4B;
  --alpha_tauri_color: #5E8FAA;
  --alphatauri_color: #5E8FAA;
  --williams_color: #37BEDD;

  font-family: 'F1 Regular', sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
.loading-container {
  min-height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--navbar-height)
}
.container-lg {
  width: 1400px;
  max-width: 1400px;
  margin: 0 auto;
}
.container-sm {
  width: 1320px;
  max-width: 1320px;
  margin: 0 auto;
}

@media screen and (max-width: 1600px) {
  .container-lg {
    max-width: 1320px;
  }
}
@media screen and (max-width: 1368px) {
  .container-lg,
  .container-sm {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  .container-lg,
  .container-sm {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .container-lg,
  .container-sm {
    max-width: 968px;
  }
}
@media screen and (max-width: 968px) {
  .container-lg,
  .container-sm {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container-lg,
  .container-sm {
    max-width: 576px;
  }
}
@media screen and (max-width: 568px) {
  .container-lg,
  .container-sm {
    max-width: 100%;
    padding: 0 .8rem;
  }
}