@font-face {
  font-family: 'F1 Regular';
  src: url(../public/fonts/Formula1-Regular_web_0.ttf);
}
@font-face {
  font-family: 'F1 Bold';
  src: url(../public/fonts/Formula1-Bold_web_0.ttf);
}
@font-face {
  font-family: 'F1 Wide';
  src: url(../public/fonts/Formula1-Wide_web_0.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'F1 Regular', sans-serif;
}

body {
  --highlight-color: #e10600;
}